:root {
  --primary-color: #e63945;
  --secondary-color: #faab34;
  --text-color: white;
}
@font-face {
  font-family: title;
  src: url(./fonts/Pelak-Bold.ttf);
}
@font-face {
  font-family: secendary;
  src: url(./fonts/Vazir.ttf);
}
@font-face {
  font-family: text;
  src: url(./fonts/Shabnam.ttf);
}
.pizza-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pizza-center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pizza-titr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: title;
  font-weight: bold;
  font-size: 5vh;
}
.pizzas {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.pizzas div {
  width: 20%;
  text-align: center;
}
.pizzas div h3 {
  font-family: secendary;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 4vh;
  white-space: nowrap;

}
.pizzas div span {
  font-family: text;
}
.pizzas div img {
  border-radius: 50%;
}
.pizza1,
.pizza3 {
  margin-bottom: 30vh;
}

/* responsive */
@media screen and (max-width: 480px) {
  .pizza-center img {
    width: 70vw;
  }

  .pizza-titr {
    font-size: 3vh;
  }

  .pizzas div h3 {
    font-size: 2.5vh;
      white-space: break-spaces;
  }

  .pizzas div span {
    font-size: 1.8vh;
  }
}

@media screen and (max-width: 600px) {
  .pizza-center img {
    width: 60vw;
  }

  .pizzas div h3 {
    font-size: 3vh;
  }

  .pizzas div span {
    font-size: 2vh;
  }
}

@media screen and (max-width: 768px) {
  .pizzas {
    flex-direction: column;
    gap: 4vh;
    align-items: center;
    margin-top: 10vh;
  }

  .pizzas div {
    width: 80%;
    margin-bottom: 4vh;
  }

  .pizza1,
  .pizza3 {
    margin-bottom: 0;
  }

  .pizza-center img {
    width: 50vw;
    height: auto;
  }

  .pizza-titr {
    font-size: 3.5vh;
  }

  .pizzas div h3 {
    font-size: 3vh;
  }
  .pizzas img {
        width: 20vw;
    height: auto;
  }

  .pizzas div span {
    font-size: 2vh;
  }
}
@media screen and (max-width: 1024px) {
  .pizzas {
    flex-direction: column;
    gap: 5vh;
    align-items: center;
        margin-top: 10vh;
  }

  .pizzas div {
    width: 80%;
    margin-bottom: 4vh;
  }

  .pizza1,
  .pizza3 {
    margin-bottom: 0;
  }

  .pizza-center img {
    width: 40vw;
    height: auto;
  }

  .pizza-titr {
    font-size: 4vh;
  }

  .pizzas div h3 {
    font-size: 3.5vh;

  }

  .pizzas div span {
    font-size: 2.3vh;
  }
}
